<h1>Listing messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Id sender</th>
    <th>Id receiver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.message %></td>
    <td><%= message.id_sender %></td>
    <td><%= message.id_receiver %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
