<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Id sender:</b>
  <%= @message.id_sender %>
</p>

<p>
  <b>Id receiver:</b>
  <%= @message.id_receiver %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
