<%= form_for(@sweethearty) do |f| %>
  <% if @sweethearty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sweethearty.errors.count, "error") %> prohibited this sweethearty from being saved:</h2>

      <ul>
      <% @sweethearty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_sweetheater %><br />
    <%= f.number_field :id_sweetheater %>
  </div>
  <div class="field">
    <%= f.label :id_sweethearted %><br />
    <%= f.number_field :id_sweethearted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
