<h1>Listing sweethearties</h1>

<table>
  <tr>
    <th>Id sweetheater</th>
    <th>Id sweethearted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sweethearties.each do |sweethearty| %>
  <tr>
    <td><%= sweethearty.id_sweetheater %></td>
    <td><%= sweethearty.id_sweethearted %></td>
    <td><%= link_to 'Show', sweethearty %></td>
    <td><%= link_to 'Edit', edit_sweethearty_path(sweethearty) %></td>
    <td><%= link_to 'Destroy', sweethearty, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sweethearty', new_sweethearty_path %>
