<p id="notice"><%= notice %></p>

<p>
  <b>Id sweetheater:</b>
  <%= @sweethearty.id_sweetheater %>
</p>

<p>
  <b>Id sweethearted:</b>
  <%= @sweethearty.id_sweethearted %>
</p>


<%= link_to 'Edit', edit_sweethearty_path(@sweethearty) %> |
<%= link_to 'Back', sweethearties_path %>
