<p id="notice"><%= notice %></p>

<p>
  <b>Id rater:</b>
  <%= @rate.id_rater %>
</p>

<p>
  <b>Id rated:</b>
  <%= @rate.id_rated %>
</p>

<p>
  <b>Rating:</b>
  <%= @rate.rating %>
</p>


<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
